.child {
  max-width: 1000px;
  text-align: center;
}
.parent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}
.h1 {
  font-size: 40px;
  line-height: 38px;
  font-weight: 700;
  padding-bottom: 40px;
}
.p {
  font-size: 28px;
  font-weight: 400;
}
