@media only screen and (min-width: 1200px) {
  .media {
    min-height: 800px;
  }
}

@media only screen and (max-width: 992px) {
  .media2 {
    text-align: center;
  }
}

.header {
  width: 100%;
  position: sticky;
  top: 0;

  z-index: 100;
}
